<div>
    <h1>Registro</h1>
    <form action="/api/users" method="POST">
        <label>Nombre</label>
        <input name="name">
        <label>Apellido</label>
        <input name="lastName">
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>