<div>
    <h1>Restaura la contraseña</h1>
    <form id="restartPasswordForm">
        <label>Correo electronico</label>
        <input name="email">
        <br>
        <label>Nueva contraseña</label>
        <input name="password">
        <br>
        <input type="submit">
    </form>
</div>

<script src="/js/resetPassword.js"></script>